body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.plusbtn {
  padding: 3px 16px;
  border-radius: 12px;
}

.minusbtn {
  padding: 3px 16px;
  border-radius: 12px;
}

.resetbtn {
   border-radius: 18px;
   padding: 5px 8px;
}

.innercontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}