*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   padding: 18px;
 
}

header{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: salmon;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form {
    background-color: rgb(125, 100, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 18px;
   
    
}


#itemcontainer {
    background-color: salmon;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 18px;
}

td,tr,th {
    text-align: center;
    border: 2px solid black;
    padding: 8px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#btn{
    background-color: wheat;
    padding: 3px 18px 3px 18px;
    border-radius: 18px;
}

#btn1{
    background-color: red;
    padding: 5px;
    border-radius: 8px;
    
}

#btn2{
    background-color: red;
    padding: 5px;
    border-radius: 8px;
    
}

#updateBtn{
    background-color: green;
    color: white;
    padding: 3px 18px;
    border-radius: 18px;
}

